.container
  background-color: rosybrown

.cards_container
  display: flex
  width: 100%
  margin-bottom: 8px

.card_overlay
  background-color: rgba(233, 212, 96, 0.5)
  height: 75px
  width: 50px
  position: absolute
  top: 0
  left: 0
  pointer-events: none

.button_container
  display: flex

  button
    margin-right: 8px
