@import "../../variable"

.container
  padding: 8px
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  height: 100%
  width: 100%
  background: $gradient-bg

.wrapper
  width: 70vw
  margin: auto
  @media screen and (max-width: 768px)
    width: 95vw

.title
  display: flex
  align-items: center
  padding: 10px 20px
  border-radius: 16px
  background-color: $background-bg
  color: #fff
  font-weight: bold
  min-height: 60px

  >span
    margin-right: 8px
  >button
    margin-left: auto
    border: 2px solid #fff
    color: #fff
    border-radius: 12px

.list_container
  display: flex
  padding: 20px 0
  @media screen and (max-width: 480px)
    flex-direction: column

.list_container_item
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background: $background-bg
  padding: 20px
  border-radius: 12px
  flex-basis: calc(100% / 4)
  box-sizing: border-box
  &:not(:last-child)
    margin-right: 20px
    @media screen and (max-width: 480px)
      margin-right: 0
      margin-bottom: 20px

.player_name
  color: rgba(255, 255, 255, 0.5)
  margin-top: 16px

.player_name_self
  color: #fff
  font-weight: bold

.action_wrapper
  text-align: center
